
// Checkboxes and Radiobuttons
//
// For checkboxes and radio button selections.
.form-checkbox {
  padding-left: 20px;
  margin: 15px 0;
  vertical-align: middle;

  label {
    em.highlight {
      position: relative;
      left: -4px;
      padding: 2px 4px;
      font-style: normal;
      background: $yellow-100;
      border-radius: 3px;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    float: left;
    margin: 5px 0 0 -20px;
    vertical-align: middle;
  }

  .note {
    display: block;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    color: $gray-600;
  }
}

.form-checkbox-details {
  display: none;
}

.form-checkbox-details-trigger {
  &:checked {
    ~ * .form-checkbox-details, // child of sibling
    ~ .form-checkbox-details { // or sibling
      display: block;
    }
  }
}
