.form-group {
  &--warn,
  &--error {
    .warning,
    .error {
      position: absolute;
      z-index: 10;
      display: block;
      max-width: 440px; // Keep our long errors readable
      padding: 5px 8px;
      margin: $spacer-1 0 0;
      font-size: 13px;
      font-weight: normal;
      border-style: solid;
      border-width: 1px;
      border-radius: 3px;

      &::after,
      &::before {
        position: absolute;
        bottom: 100%;
        left: 10px;
        z-index: 15;
        width: 0;
        height: 0;
        pointer-events: none;
        content: " ";
        border: solid transparent;
      }

      &::after {
        border-width: 5px;
      }

      &::before {
        margin-left: -1px;
        border-width: 6px;
      }
    }
  }

  &--warn {
    .warning {
      color: $yellow-900;
      background-color: $yellow-100;
      border-color: $border-yellow;

      &::after {
        border-bottom-color: $yellow-100;
      }

      &::before {
        border-bottom-color: $border-yellow;
      }
    }
  }

  &--error {
    .error {
      color: $red-900;
      background-color: $bg-red-light;
      border-color: $border-red-light;

      &::after {
        border-bottom-color: $bg-red-light;
      }

      &::before {
        border-bottom-color: $border-red-light;
      }
    }
  }
}

//
// Variants
//
.form-group {
  &--required {
    dt label::after {
      padding-left: 5px;
      color: $text-red;
      content: "*";
    }
  }
}

// fix for chrome bug, see https://github.com/github/github/issues/53931
.form-group label {
  position: static;
}
