// Form groups
//
// Typical form groups - `<dl.form-group>` with a `<dt>` containing the label and
// `<dd> containing the form elements.
.form-group {
  margin: 15px 0;

  // Text fields
  .form-control {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    background-color: $bg-gray-light;

    &:focus {
      background-color: $bg-white;
    }
  }


  // The Label
  dt {
    margin: 0 0 6px;
  }

  label {
    position: relative;
  }

  &.flattened dt {
    float: left;
    margin: 0;
    line-height: 32px;
  }

  &.flattened dd {
    line-height: 32px;
  }
}
