// Base form controls
//
// Overrides for common inputs for easier styling.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

label {
  font-weight: $font-weight-bold;
}

.form-control,
.form-select {
  min-height: 34px;
  padding: 6px 8px;
  font-size: $body-font-size;
  line-height: 20px;
  color: $text-gray-dark;
  vertical-align: middle;
  background-color: $bg-white;
  background-repeat: no-repeat; // Repeat and position set for form states (success, error, etc)
  background-position: right 8px center; // For form validation. This keeps images 8px from right and centered vertically.
  border: 1px solid $border-gray-dark;
  border-radius: 3px;
  outline: none;
  box-shadow: $form-control-shadow;

  &--focus,
  &:focus {
    border-color: $blue-400;
    outline: none;
    box-shadow: $form-control-shadow, $btn-input-focus-shadow;
  }
}

// Custom styling for HTML5 validation bubbles (WebKit only)
::placeholder {
  color: $text-gray-light;
}

.form-control {
  &--contrast {
    background-color: $bg-gray-light;

    &:focus {
      background-color: $bg-white;
    }
  }

  &--monospace {
    font-family: $mono-font;
  }

  // Hide the icon that tries to autofill contact info in webkit
  &--hide-webkit-autofill {
    &::-webkit-contacts-auto-fill-button {
      position: absolute;
      right: 0;
      display: none !important;
      pointer-events: none;
      visibility: hidden;
    }
  }
}

// form-control size
.form-control {
  &--sm {
    min-height: 28px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: $font-size-small;
    line-height: 20px;
  }

  &--lg {
    padding: 4px 10px;
    font-size: 16px;
  }

  &--block {
    display: block;
    width: 100%;
  }
}

// Textarea
textarea.form-control {
  width: 100%;
  height: 200px;
  min-height: 200px;

  &--short {
    height: 50px;
    min-height: 50px;
  }
}


// Hide the up/down buttons in <input type="number"> in the login form, the
// input is used for two-factor auth codes, type="number" makes it more usable
// on phones
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}
