// Default flash
.flash {
  position: relative;
  padding: $spacer-3;
  color: $blue-800;
  background-color: $blue-100;
  border: 1px solid $border-black-fade;
  border-radius: 3px;

  p:last-child {
    margin-bottom: 0;
  }
}

.flash--with-icon {
  position: relative;

  .flash__close {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.flash__close {
  float: right;
  padding: 8px 15px;
  color: inherit;
  text-align: center;
  cursor: pointer;
  appearance: none;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

//
// Variations
//

.flash--warn {
  color: $yellow-900;
  background-color: $yellow-100;
  border-color: $black-fade-15;
}

.flash--error {
  color: $red-900;
  background-color: $red-100;
  border-color: $black-fade-15;
}

.flash--success {
  color: $green-800;
  background-color: $green-100;
  border-color: $black-fade-15;
}
