@font-face {
    font-family: 'HelveticaNeue';
    src: url('../resources/fonts/HelveticaNeue-Light.eot');
    src: url('../resources/fonts/HelveticaNeue-Light.woff2') format('woff2'),
         url('../resources/fonts/HelveticaNeue-Light.woff') format('woff'),
         url('../resources/fonts/HelveticaNeue-Light.ttf') format('truetype'),
         url('../resources/fonts/HelveticaNeue-Light.svg#HelveticaNeue') format('svg'),
         url('../resources/fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}
