// color
$brand-color: #008efe !default;
$text-color: rgb(34, 34, 34) !default;
$text-color-light: #fff;
$text-color-heading: #8a98ab;
$text-color: #95a2b3;
$text-color-active: #50d2c2;
$text-color-description: #505965;
$text-color-title: #444;
$btn-active-color: #fff;
$main-icon-color: #8a8d92;


// background
$bg-main         : #f4f6f8;
$bg-block        : #fff;
$bg-popup        : #505965;
$bg-block-active : #50D2C2;
$btn-active-color: #fff;
