
// Font families
$font-family-text    :  'Lato', sans-serif !default;
$font-family-heading : 'Montserrat', sans-serif !default;

// Font weights
$font-weight-light     : 300 !default;
$font-weight-regular   : 400 !default;
$font-weight-medium    : 500 !default;
$font-weight-semi-bold : 600 !default;
$font-weight-bold      : 700 !default;

// Sizes
$font-size-small     : 12px !default;
$font-size-regular   : 14px !default;
$font-size-large     : 24px !default;
$font-size-x-large   : 32px !default;
$font-size-xx-large  : 48px !default;
$font-size-xxx-large : 64px !default;
$font-size-xxxx-large: 96px !default;

$body-font-size: $font-size-regular;
